.eventDetail {
  position: relative;
  padding-bottom: 70px;

  .event-title {
    position: relative;
    overflow: hidden;

    .title-img {
      width: 100%;
      height: 640px;
      background-color: #eeeeee;

      img {
        width: 100%;
        //height: 380px;
      }
    }
    .content-title {
      color: white;
      position: absolute;
      bottom: 150px;
      left: 50%;
      transform: translateX(-80%);

      h2 {
        color: #ffffff;
        font-size: 28px;
        font-weight: bold;
      }
    }
  }
  .event-content {
    margin: 10px 35px;
    text-indent: 2em;
    .content-title {
      position: absolute;
    }
    .content-writer {
      width: 1000px;
      margin: 0 auto;
      position: relative;
      top: -60px;

      .writer-info {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 30px;
        margin-bottom: 30px;

        .updatedAt {
          font-size: 14px;
          color: #cccccc;
          margin-left: 20px;
        }
      }
    }

  }
  .event-comment {
    margin: 10px 35px;

    .comment-content {
      width: 74%;
      border: 1px dashed;
      border-radius: 15px;
      height: 106px;
      margin-bottom: 33px;

      .comment-content-box {
        padding: 20px;
        p {
          font-size: 16px;
          color: #000;
        }
        img {
          width: 33px;
          height: 33px;
          border-radius: 50%;
        }
        span {
          margin-left: 20px;
        }
      }
    }
  }

  .detail-footer {
    height: 55px;
    background-color: #ffffff;
    clear: both;
  }
}

// 信息弹框
.wrap-dots {
  .ant-notification-notice-message {
    //color: lightgoldenrodyellow;
    color: white !important;
  }
  .ant-notification-notice-close {
    display: none;
  }
  .ant-notification-notice-icon {
    line-height: 50px;
  }
}
